root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

indent_style = space

[*.{cs,vb}]
indent_style = space
indent_size = 4
tab_width = 4

dotnet_diagnostic.IDE0063.severity = none

[*.xaml]
indent_style = space
indent_size = 2
tab_width = 2

[*.csproj]
indent_style = space
indent_size = 2
tab_width = 2

[*.json]
indent_style = space
indent_size = 2
tab_width = 2

[*.{g.cs,g.i.cs,designer.cs,generated.cs}]
generated_code = true